__pycache__/
.DS_Store
# ignored folders
# geomloss/
Datasets/
# Packages.txt
packages.txt
todo.md

events.*
# checkpoint/

Greatlake.md
questions.md
res/


model.t7
dcd.pt
model-[64]-[15]-[2].pt
other/
ckpt/